<div id="summary" role="region" aria-label="Element Result Summary">

    <table class="summary" aria-label="Element Results Summary">
        <thead>
            <td></td>
            <th>Violations</th>
            <th>Warnings</th>
            <th>Manual<br/>Checks</th>
            <th>Passed</th>
            <th>Hidden</th>
        </thead>
        <tbody>
            <tr>
                <th class="first">Number of Elements</th>

                {% if summary.elements_violation == 0 %}
                <td class="violation" title="No elements with violations on this pages">-</td>
                {% else %}
                {% if summary.elements_violation == 1 %}
                <td class="violation" title="One element with violations on at this page">1</td>
                {% else %}
                <td class="violation" title="{{summary.elements_violation}} elements with violations on this page">{{summary.elements_violation}}</td>
                {% endif %}
                {% endif %}

                {% if summary.elements_warning == 0 %}
                <td class="warning" title="No elements with warnings on this page">-</td>
                {% else %}
                {% if summary.elements_warning ==  1 %}
                <td class="warning" title="One element with warnings on this page">1</td>
                {% else %}
                <td class="warning" title="{{summary.elements_warning}} elements with warnings on this page">{{summary.elements_warning}}</td>
                {% endif %}
                {% endif %}

                {% if summary.elements_mc_identified == 0 %}
                <td class="manual_check" title="No elements with manual checks on this page">-</td>
                {% else %}
                {% if summary.elements_mc_identified == 1 %}
                <td class="manual_check" title="One element with manual checks on this page">1</td>
                {% else %}
                <td class="manual_check" title="{{summary.elements_manual_check}} elements with manual checks on this page">{{summary.elements_mc_identified}}</td>
                {% endif %}
                {% endif %}

                {% if summary.elements_passed == 0 %}
                <td class="passed" title="No elements pass on this page">-</td>
                {% else %}
                {% if summary.elements_passed == 1 %}
                <td class="passed" title="One element that passes on this page">1</td>
                {% else %}
                <td class="passed" title="{{summary.elements_passed}} elements that pass on this page">{{summary.elements_passed}}</td>
                {% endif %}
                {% endif %}

                {% if summary.elements_hidden == 0 %}
                <td class="fae-hidden" title="No elements that are hidden on the page">-</td>
                {% else %}
                {% if summary.elements_hidden == 1 %}
                <td class="fae-hidden" title="One element that is hidden on this page">1</td>
                {% else %}
                <td class="fae-hidden" title="{{summary.elements_hidden}} elements that are hidden on this page">{{summary.elements_hidden}}</td>
                {% endif %}
                {% endif %}
            </tr>
        </tbody>
    </table>


    <div id="id_result_description" class="sr-only">

                {% if summary.elements_violation > 0 %}
                {% if summary.elements_violation == 1 %}
                1 element with violations;
                {% else %}
                {{ summary.elements_violation }} elements with violations;
                {% endif %}
                {% endif %}

                {% if summary.elements_warning > 0 %}
                {% if summary.elements_warning == 1 %}
                1 element with warnings;
                {% else %}
                {{ summary.elements_warning }} elements with warnings;
                {% endif %}
                {% endif %}

                {% if summary.elements_mc_identified > 0 %}
                {% if summary.elements_mc_identified == 1 %}
                1 element with manual checks;
                {% else %}
                {{ summary.elements_mc_identified }} elements with manual checks;
                {% endif %}
                {% endif %}

                {% if summary.elements_passed > 0 %}
                {% if summary.elements_passed == 1 %}
                1 element with all passed;
                {% else %}
                {{ summary.elements_passed }} elements with all passed;
                {% endif %}
                {% endif %}


    </div>


</div>
