{% extends "base.html" %}
{% load tz %}

{% load staticfiles i18n %}

{% block breadcrumb %}
<li>Audit</li>
{% endblock %}

{% block title %}
Run: {{audit.title}}
{% endblock %}

{% block content %}

<form id="id_run_report"  action="{% url 'audit_run' audit.id %}" method="post" >
    {% csrf_token %}

    {% include "forms/input_report_title.html" %}
    
    {% include "forms/input_report_depth.html" %}
    
    {% include "forms/input_report_domains.html" %}
    
    {% include "forms/input_report_ruleset.html" %}
    
    {% include "forms/input_report_max_pages.html" %}

    {% include "forms/input_report_wait_time.html" %}
    
    <div class="fae_button">
        <input id="id_submit" name="submit" type="submit" value="Evaluate"  title="You must enter a valid URL and a title before you can request a report"/>
    </div>

</form>

{% endblock %}

{% block javascript %}

<script src="{% static 'js/form-control-focus.js' %}" type="text/javascript"></script>

<script type="text/javascript">

</script>

{% endblock %}