{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title %}
  Login
{% endblock %}

{% block content %}

    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        {% include "forms/input_text.html" with input=form.username size=20  %}
        {% include "forms/input_text.html" with input=form.password size=30 type='password' %}
      
        <input type="submit" value="login">


        <input type="hidden" name="next" value="{{ next }}">

    </form>

    {# Assumes you setup the password_reset view in your URLconf #}

{% endblock %}

{% block javascript %}

<script src="{% static 'js/form-control-focus.js' %}" type="text/javascript"></script>

{% endblock %}
