{% extends "base.html" %}

{% block breadcrumb %}
  <li>Versions.</li>
{% endblock %}

{% block title %}
Version History
{% endblock %}

{% block content %}

  <table class="details table table-striped table-hover" aria-labelledby="id_page_title">
    <thead>
      <tr>
        <th class="text">Version</td>
        <th class="text">Date</th>
        <th class="text">Description</th>
      </tr>
    </thead>
    <tbody>
     <tr>
        <td class="text">0.8.0.beta</td>
        <td class="text">2020-10-05</td>
        <td class="text">
          <ul>
            <li>Sorting by passed imiplemntation level score.</li>
            <li>Added ranking column.</li>
         </ul>
      </tr>
    </tbody>
  </table>

  </table>


{% endblock %}


